<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Òrgans</h3>
				</div>
				<div class="panel-body">
					<div class="list-group">
						<a href="#" class="list-group-item" data-ng-repeat="mygroup in user.groups">{{ groups[mygroup].name }}</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">El teu mur</h3>
				</div>
				<div class="panel-body">
					{{ user.wpjson }}
				</div>
			</div>
		</div>
	</div>
</div>
